<h2>Dados da Solicitação</h2>

<p>
  Código: <%= @loan.id %>
</p>

<p>
  Valor Solicitado: R$ <%= @loan.requested_amount %>
</p>
<p>
  Parcelas: <%= @loan.qtd_payments %>
</p>
<p>
  Taxa Juros: <%= @loan.interest_rate %>% a.m
</p>
<p>
  Valor da parcela: R$ <%= @loan.installment_value.round(2) %>
</p>
<p>
  Status: <%= @loan.status.empty? ? 'Aguardando' : @loan.status %>
</p>

<div>
  <% if @loan.status == '' %>
    <%= button_to "Editar", edit_loan_path(@loan), method: :get %>
    <%= button_to "Apagar", @loan, method: :delete %>
  <% end %>

  <%= button_to "Voltar", loans_path, method: :get %>
</div>

<% if @loan.loan_installment.present? %>
  <hr>
  <h2>Parcelas</h2>
  <hr>

  <table>
    <thead>
      <th>Número da Parcela</th>
      <th>Valor da Parcela</th>
      <th>Data de Vencimento</th>
      <th>Status de Pagamento</th>
    </thead>
    <tbody>
      <% @loan.loan_installment.each do |installment| %>
        <tr>
          <td><%= installment.number_of_installment %></td>
          <td>R$ <%= installment.value_installment.round(2) %></td>
          <td><%= installment.due_date.strftime("%d-%m-%Y") %></td>
          <td><%= installment.paid %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
