<h2>Dados da Solicitação</h2>

<p>
  Código: <%= @loan.id %>
</p>

<p>
  Valor Solicitado: R$ <%= @loan.requested_amount %>
</p>
<p>
  Parcelas: <%= @loan.qtd_payments %>
</p>
<p>
  Taxa Juros: <%= @loan.interest_rate %>% a.m
</p>
<p>
  Valor da parcela: R$ <%= @loan.installment_value.round(2) %>
</p>
<p>
  Status: <%= @loan.status.empty? ? 'Aguardando' : @loan.status %>
</p>

<div>
  <% if @loan.status == '' %>
    <%= button_to "Editar", edit_loan_path(@loan), method: :get %>
    <%= button_to "Apagar", @loan, method: :delete %>
  <% end %>

  <%= button_to "Voltar", loans_path, method: :get %>
</div>

<% if @loan.loan_installments.present? %>
  <%= render 'installments/index' %>
<% end %>
