<h1>Solicitações de Empréstimos</h1>

<table>
  <thead>
    <th>ID Solicitação</th>
    <th>ID Usuário</th>
    <th>Usuário</th>
    <th>Email</th>
    <th>Valor Solicitado</th>
    <th>Detalhar</th>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.id %></td>
        <td><%= loan.user.id %></td>
        <td><%= loan.user.email.split('@').first %></td>
        <td><%= loan.user.email %></td>
        <td>R$ <%= loan.requested_amount.to_f %></td>
        <td><%= loan.status.empty? ? 'Aguardando' : loan.status %></td>
        <td><%= link_to 'Detalhar', loan, data: { turbo: false } %></td>
        <% if loan.status.blank? %>
          <td><%= link_to 'Aprovar', approve_loan_path(id: loan.id), data: { turbo: false } %></td>
          <td><%= link_to 'Rejeitar', reject_loan_path(id: loan.id), data: { turbo: false } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
